<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('../../layout/header.ejs') %>
    <% result.forEach(item=>{ %>
        <section>
            <h2><%= item.name %></h2>
            <h2><%= item.patronus %></h2>
            <h2><%= item.alive %></h2>
       <a href="/character/<%= item.id %>" class="button">View Details</a>
        </section>
        <% }) %>
</body>
</html>